.app {
  position: absolute;
  background-image: url("./assets/1.jpg");
  background-size: cover; 
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.bkg {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(16px);
  background-color: #00000070;
}

.container {
  position: absolute;
  background-image: url("./assets/1.jpg");
  background-size: cover; 
  top: 0;
  width: 70vw;
  height: 70vh;
  margin: 15vh 15vw;
  border-radius: 1rem;
  /*otra forma de centrar*/
  /* top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; */
  /* overflow: hidden; */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 47vh 23vh;
}

.citiesContainer {
  display: flex;
  height: 23vh;
  background-color: #ffffff70;
  backdrop-filter: blur(4px);
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

}

